html, body, ol {
  padding: 0;
}

body {
  background: url(phone.png) no-repeat;
  background-position: 10px 10px;
  background-color: #111;
  font-family: Titillium;
}

#wrapper {
  padding-top: 260px;
  padding-bottom: 20px;
  position: relative;
}

ol {
  list-style-type: none;
  margin-left: 10px;
}

li {
  background-color: #000;
  margin-bottom: 20px;
  float: left;
  clear: both;
  padding-left: 10px;
  border-left: 10px solid #0fcfad;
  border-bottom: 1px solid #0fcfad;
}

h1 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #0fcfad;
  letter-spacing: 3px;
  padding: 0 10px;
  word-spacing: 8px;
}

h2 {
  display: inline-block;
  float: left;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 200;
  color: #aaa;
  margin: 2px 0;
  padding: 0 2px;
  width: 135px;
}

audio {
  background-color: #000;
  float: left;
}